emutation.wsdl

<wsdl:definitions
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:tns="http://interop-fibre.fr/Emutation/1.0/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Emutation"
        targetNamespace="http://interop-fibre.fr/Emutation/1.0/"
>
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://interop-fibre.fr/Emutation/1.0/"  xmlns:tns="http://interop-fibre.fr/Emutation/1.0/">
            <xsd:simpleType name="ReferenceCommandePriseInterneOCType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="20"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ReferencePrestationPriseType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="20"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ReferencePriseType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ReferencePMType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="20"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ReferencePMTType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="20"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ReferencePBOType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="IdentifiantFibreType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="MotifMutationType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Fibre occupée"/>
                    <xsd:enumeration value="Fibre HS"/>
                    <xsd:enumeration value="PB erroné"/>
                    <xsd:enumeration value="Adresse client erronée"/>
                    <xsd:enumeration value="Bâtiment client erroné"/>
                    <xsd:enumeration value="Escalier client erroné"/>
                    <xsd:enumeration value="Etage client erroné"/>
                    <xsd:enumeration value="PTO existante alors que PTO à construire dans la commande OC"/>
                    <xsd:enumeration value="PTO à construire alors que PTO existante dans la commande OC"/>
                    <xsd:enumeration value="Référence PTO erronée"/>
                    <xsd:enumeration value="Commande HOTLINE"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="BatimentType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="60"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="EscalierType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="25"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="EtageType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="25"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PorteType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="25"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="NumeroDechargeType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="20"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CodeRetourEnumType">
                <xsd:restriction base="xsd:int">
                    <xsd:enumeration value="0"/>
                    <xsd:enumeration value="1"/>
                    <xsd:enumeration value="2"/>
                    <xsd:enumeration value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="NaturePBOType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ReferenceHexacleType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="TypeProjectionType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CodeHexacleVoieType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ComplementNumeroVoieType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CodeInseeType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="5"/>
                    <xsd:maxLength value="5"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CodeRivoliType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="4"/>
                    <xsd:maxLength value="4"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="EtatFibreType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="fibre disponible"/>
                    <xsd:enumeration value="fibre dédiée disponible"/>
                    <xsd:enumeration value="fibre réservée"/>
                    <xsd:enumeration value="fibre dédiée réservée"/>
                    <xsd:enumeration value="fibre occupée"/>
                    <xsd:enumeration value="fibre dédiée occupée"/>
                    <xsd:enumeration value="fibre hors service"/>
                    <xsd:enumeration value="fibre dédiée hors service"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ReferenceCablePBOType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="InformationFibrePBOType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="20"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="InformationTubePBOType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="20"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="IdentifiantImmeubleType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="30"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LocalisationPBOType">
                <xsd:restriction base="xsd:string">
                    <xsd:minLength value="0"/>
                    <xsd:maxLength value="2048"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:element name="RecherchePBO">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Entete" type="tns:EnteteRequeteType"/>
                        <xsd:element minOccurs="0" name="ReferenceCommandePriseInterneOC" type="tns:ReferenceCommandePriseInterneOCType"/>
                        <xsd:element minOccurs="0" name="ReferencePrestationPrise" type="tns:ReferencePrestationPriseType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="RecherchePBOResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="CodeRetour" type="tns:CodeRetourType"/>
                        <xsd:element name="Entete" type="tns:EnteteReponseType"/>
                        <xsd:element name="ListePBO" type="tns:ListePboType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultationFibres">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Entete" type="tns:EnteteRequeteType"/>
                        <xsd:element minOccurs="0" name="ReferencePM" type="tns:ReferencePMType"/>
                        <xsd:element minOccurs="0" name="ReferencePBO" type="tns:ReferencePBOType"/>
                        <xsd:element minOccurs="0" name="ReferenceCommandePriseInterneOC" type="tns:ReferenceCommandePriseInterneOCType"/>
                        <xsd:element minOccurs="0" name="ReferencePrestationPrise" type="tns:ReferencePrestationPriseType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsultationFibresResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Entete" type="tns:EnteteReponseType"/>
                        <xsd:element name="CodeRetour" type="tns:CodeRetourType"/>
                        <xsd:element name="PboType" type="tns:PboType"/>
                        <xsd:element name="Fibres" type="tns:ListeFibresType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MiseAJourRouteOptique">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Entete" type="tns:EnteteRequeteType"/>
                        <xsd:element minOccurs="0" name="ReferenceCommandePriseInterneOC" type="tns:ReferenceCommandePriseInterneOCType"/>
                        <xsd:element minOccurs="0" name="ReferencePrestationPrise" type="tns:ReferencePrestationPriseType"/>
                        <xsd:element name="IdentifiantFibre" type="tns:IdentifiantFibreType"/>
                        <xsd:element name="MotifMutation" type="tns:MotifMutationType"/>
                        <xsd:element minOccurs="0" name="ReferenceAdresse" type="tns:ReferenceAdresseDemandeType"/>
                        <xsd:element minOccurs="0" name="Batiment" type="tns:BatimentType"/>
                        <xsd:element minOccurs="0" name="Escalier" type="tns:EscalierType"/>
                        <xsd:element minOccurs="0" name="Etage" type="tns:EtageType"/>
                        <xsd:element minOccurs="0" name="ReferencePrise" type="tns:ReferencePriseType"/>
                        <xsd:element minOccurs="0" name="BatimentTerrain" type="tns:BatimentType"/>
                        <xsd:element minOccurs="0" name="EscalierTerrain" type="tns:EscalierType"/>
                        <xsd:element minOccurs="0" name="EtageTerrain" type="tns:EscalierType"/>
                        <xsd:element minOccurs="0" name="PorteTerrain" type="tns:PorteType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="MiseAJourRouteOptiqueResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Entete" type="tns:EnteteReponseType"/>
                        <xsd:element name="CodeRetour" type="tns:CodeRetourType"/>
                        <xsd:element name="NumeroDecharge" type="tns:NumeroDechargeType"/>
                        <xsd:element name="RoutesOptiques" type="tns:ListeRoutesOptiques"/>
                        <xsd:element name="ReferencePrise" type="tns:ReferencePriseType"/>
                        <xsd:element name="ReferencePM" type="tns:ReferencePMType"/>
                        <xsd:element name="ReferencePMT" type="tns:ReferencePMTType"/>
                        <xsd:element name="ReferencePBO" type="tns:ReferencePBOType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="EnteteRequeteType">
                <xsd:sequence>
                    <xsd:element name="VersionWS" type="xsd:string"/>
                    <xsd:element name="HorodatageRequete" type="xsd:dateTime"/>
                    <xsd:element name="OperateurCommercial" type="tns:OperateurCommercialType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OperateurCommercialType">
                <xsd:sequence>
                    <xsd:element name="Nom" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="Identifiant" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CodeRetourType">
                <xsd:sequence>
                    <xsd:element name="CodeRetour" type="tns:CodeRetourEnumType"/>
                    <xsd:element minOccurs="0" name="CodeErreur" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="LibelleErreur" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="EnteteReponseType">
                <xsd:sequence>
                    <xsd:element name="VersionWS"  type="xsd:string"/>
                    <xsd:element name="HorodatageReponse" type="xsd:dateTime"/>
                    <xsd:element name="HorodatageRequete" type="xsd:dateTime"/>
                    <xsd:element name="OperateurCommercial"  type="tns:OperateurCommercialType"/>
                    <xsd:element name="IdentifiantReponse" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListePboType">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="Pbo" type="tns:PboType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PboType">
                <xsd:sequence>
                    <xsd:element name="ReferencePM"  type="tns:ReferencePMType"/>
                    <xsd:element name="ReferencePBO" type="tns:ReferencePBOType"/>
                    <xsd:element name="LocalisationPBO" type="tns:LocalisationPBOType"/>
                    <xsd:element name="StructurePBO" type="tns:StructureVerticalePBOType"/>
                    <xsd:element minOccurs="0" name="NombreFibresDisponibles" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="NaturePBO"  type="tns:NaturePBOType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CoordonneesGeographiquesType">
                <xsd:sequence>
                    <xsd:element name="TypeProjection" type="tns:TypeProjectionType"/>
                    <xsd:element minOccurs="0" name="CoordonneesX" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="CoordonneesY" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReferenceHexacleVoieType">
                <xsd:sequence>
                    <xsd:element name="CodeHexacleVoie"  type="tns:CodeHexacleVoieType"/>
                    <xsd:element name="NumeroVoie" type="xsd:nonNegativeInteger"/>
                    <xsd:element minOccurs="0" name="ComplementNumeroVoie" type="tns:ComplementNumeroVoieType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReferenceRivoliType">
                <xsd:sequence>
                    <xsd:element name="CodeInsee"  type="tns:CodeInseeType"/>
                    <xsd:element name="CodeRivoli"  type="tns:CodeRivoliType"/>
                    <xsd:element name="NumeroVoie" type="xsd:nonNegativeInteger"/>
                    <xsd:element minOccurs="0" name="ComplementNumeroVoie" type="tns:ComplementNumeroVoieType" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="StructureVerticalePBOType">
                <xsd:sequence>
                    <xsd:element name="Batiment" type="tns:BatimentType"/>
                    <xsd:element name="Escalier" type="tns:EscalierType"/>
                    <xsd:element name="Etage" type="tns:EtageType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListeFibresType">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="Fibre" type="tns:FibreType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FibreType">
                <xsd:sequence>
                    <xsd:element name="IdentifiantFibre" type="tns:IdentifiantFibreType"/>
                    <xsd:element minOccurs="0" name="ReferenceCablePBO" type="tns:ReferenceCablePBOType"/>
                    <xsd:element name="InformationFibrePBO" type="tns:InformationFibrePBOType"/>
                    <xsd:element name="InformationTubePBO" type="tns:InformationTubePBOType"/>
                    <xsd:element name="EtatFibre" type="tns:EtatFibreType"/>
                    <xsd:element minOccurs="0" name="ReferencePrise" type="tns:ReferencePriseType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ReferenceAdresseDemandeType">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="ReferenceHexacle" type="tns:ReferenceHexacleType"/>
                    <xsd:element minOccurs="0" name="ReferenceRivoli" type="tns:ReferenceRivoliType"/>
                    <xsd:element minOccurs="0" name="ReferenceGeographique" type="tns:CoordonneesGeographiquesType"/>
                    <xsd:element minOccurs="0" name="ReferenceHexacleVoie" type="tns:ReferenceHexacleVoieType"/>
                    <xsd:element minOccurs="0" name="IdentifiantImmeuble" type="tns:IdentifiantImmeubleType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListeRoutesOptiques">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="4" name="RoutesOptiques" type="tns:RouteOptique"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="RouteOptique">
                <xsd:sequence>
                    <xsd:element name="OC" type="xsd:string"/>
                    <xsd:element name="PositionPm" type="tns:PositionPmType"/>
                    <xsd:element minOccurs="0" name="ReferenceCablePBO" type="tns:ReferenceCablePBOType"/>
                    <xsd:element name="InformationTubePBO" type="tns:InformationTubePBOType"/>
                    <xsd:element name="InformationFibrePBO" type="tns:InformationFibrePBOType"/>
                    <xsd:element name="ConnecteurPriseNumero" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="ConnecteurPriseCouleur" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PositionPmType">
                <xsd:sequence>
                    <xsd:element name="NomModulePM" type="xsd:string"/>
                    <xsd:element name="PositionModulePM" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="ReferenceCableModulePM" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="InfoTubeModulePM" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="InfoFibreModulePM" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Emutation_RecherchePBO_InputMessage">
        <wsdl:part name="request" element="tns:RecherchePBO"/>
    </wsdl:message>
    <wsdl:message name="Emutation_RecherchePBO_OutputMessage">
        <wsdl:part name="response" element="tns:RecherchePBOResponse"/>
    </wsdl:message>
    <wsdl:message name="Emutation_ConsultationFibres_InputMessage">
        <wsdl:part name="request" element="tns:ConsultationFibres"/>
    </wsdl:message>
    <wsdl:message name="Emutation_ConsultationFibres_OutputMessage">
        <wsdl:part name="response" element="tns:ConsultationFibresResponse"/>
    </wsdl:message>
    <wsdl:message name="Emutation_MiseAJourRouteOptique_InputMessage">
        <wsdl:part name="request" element="tns:MiseAJourRouteOptique"/>
    </wsdl:message>
    <wsdl:message name="Emutation_MiseAJourRouteOptique_OutputMessage">
        <wsdl:part name="response" element="tns:MiseAJourRouteOptiqueResponse"/>
    </wsdl:message>
    <wsdl:portType name="Emutation">
        <wsdl:operation name="RecherchePBO">
            <wsdl:input message="tns:Emutation_RecherchePBO_InputMessage"/>
            <wsdl:output message="tns:Emutation_RecherchePBO_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ConsultationFibres">
            <wsdl:input message="tns:Emutation_ConsultationFibres_InputMessage"/>
            <wsdl:output message="tns:Emutation_ConsultationFibres_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="MiseAJourRouteOptique">
            <wsdl:input message="tns:Emutation_MiseAJourRouteOptique_InputMessage"/>
            <wsdl:output message="tns:Emutation_MiseAJourRouteOptique_OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BasicHttpBinding_Emutation" type="tns:Emutation">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RecherchePBO">
            <soap:operation soapAction="http://interop-fibre.fr/Emutation/1.0/RecherchePBO" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ConsultationFibres">
            <soap:operation soapAction="http://interop-fibre.fr/Emutation/1.0/ConsultationFibres" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="MiseAJourRouteOptique">
            <soap:operation soapAction="http://interop-fibre.fr/Emutation/1.0/MiseAJourRouteOptique" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Emutation">
        <wsdl:port name="BasicHttpBinding_Emutation" binding="tns:BasicHttpBinding_Emutation">
            <soap:address location="http://interop-fibre.fr/Emutation/1.0/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
